<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
    - primary meta tags
  -->

  <title>W - Shop</title>
  <meta name="title" content=">W - Shop">
  <meta name="description" content="This is an eCommerce html template made by codewithsadee">

  <!--
    - favicon
  -->
  <link rel="shortcut icon"  href="{% static './assets/images/wimage.jpg' %}" type="image/svg+xml">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static './assets/fonts/font.css' %}">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static './assets/css/style.css' %}">

  <!--
    - preload images
  -->
  <link rel="preload" as="image" href="{% static './assets/images/hero-banner.png' %}">

</head>

<body>


           {% block content %}{% endblock %}




  <!--
    - custom js link
  -->
  <script src="{% static './assets/js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="{% static 'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js' %}"></script>
  <script nomodule src="{% static 'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js' %}"></script>

</body>

</html>