{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}


  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="{% url 'home' %}" class="logo">
        <img src="{% static './assets/images/sa.png' %}" width="70" height="50" alt="shoppie home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="{% url 'home' %}" class="navbar-link">Основной</a>
          </li>

          <li>
            <a href="{% url 'all-products' %}" class="navbar-link">Продукты</a>
          </li>

          <li>
            <a href="{% url 'zakaz' %}" class="navbar-link">Разместить заказ</a>
          </li>

        </ul>

       
        <a href="https://t.me/welkin_cases_bot" class="btn">Telegram bot</a>
        <a href="{% url 'contact' %}" class="btn">Связь</a>
      </nav>

      <button class="nav-open-btn" aria-label="toggle menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>
  </header>


  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <div class="hero">
        <div class="container">

          <div class="hero-content">
          {% for home_image_title in home_photo_title%}

            <p class="hero-subtitle title">Всем привет</p>

            <h1 class="h1 hero-title title">Вы находитесь <br> на этом сайте</h1>

            <p class="hero-text">{{home_image_title.title}}</p>

            <a href="{% url 'all-products' %}" class="btn btn-primary">
              <span class="span">Покупка</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>

          </div>

          <div class="hero-banner">
            <figure class="img-holder" style="--width: 704; --height: 700;">
              <img src="{{home_image_title.image.url}}" width="704" height="700" alt="hero banner" class="img-cover">
            </figure>

            <img src="{% static './assets/images/hero-shape-1.png' %}" width="255" height="249" alt="shape" class="shape shape-1">
          </div>

          <img src="{% static './assets/images/hero-shape-2.png' %}" width="360" height="133" alt="shape" class="shape shape-2">
        {% endfor %}
        </div>
      </div>


      <!-- 
        - #PRODUCT
      -->

      <section class="section product" aria-label="product">
        <div class="container">

          <h2 class="h2 section-title title text-center">Самый продаваемый</h2>

          <ul class="product-list has-scrollbar">

            <li class="scrollbar-item">
              <div class="product-card text-center">

                <div class="card-banner">

                  <figure class="product-banner img-holder" style="--width: 448; --height: 470;">
                    <img src="{% static './assets/images/product-1.png' %}" width="448" height="470" loading="lazy"
                      alt="Short Sleeve Shirt" class="img-cover">
                  </figure>

                  <a href="https://t.me/Welkin_Cases/37" class="btn product-btn">
                    <ion-icon name="cash-outline"></ion-icon>

                    <span class="span">Полный обзор</span>
                  </a>

                </div>

                <div class="card-content">

                  <h3 class="h4 title">
                    <a href="https://t.me/Welkin_Cases/37" class="card-title">Чехлы с магнитной MacSafe</a>
                  </h3>

                  <span class="price">60.000 сум</span>

                </div>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="product-card text-center">

                <div class="card-banner">

                  <figure class="product-banner img-holder" style="--width: 448; --height: 470;">
                    <img src="{% static './assets/images/product-2.png' %}" width="448" height="470" loading="lazy"
                      alt="Dead Sunglasses" class="img-cover">
                  </figure>

                  <a href="https://t.me/Welkin_Cases/110" class="btn product-btn">
                    <ion-icon name="cash-outline"></ion-icon>

                    <span class="span">Полный обзор</span>
                  </a>

                </div>

                <div class="card-content">

                  <h3 class="h4 title">
                    <a href="https://t.me/Welkin_Cases/110" class="card-title">Парные чехлы ❤️</a>
                  </h3>

                  <span class="price">85.000 сум</span>

                </div>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="product-card text-center">

                <div class="card-banner">

                  <figure class="product-banner img-holder" style="--width: 448; --height: 470;">
                    <img src="{% static './assets/images/product-3.png' %}" width="448" height="470" loading="lazy"
                      alt="Studios Trouser" class="img-cover">
                  </figure>

                  <a href="https://t.me/Welkin_Cases/134?single" class="btn product-btn">
                    <ion-icon name="cash-outline"></ion-icon>

                    <span class="span">Полный обзор</span>
                  </a>

                </div>

                <div class="card-content">

                  <h3 class="h4 title">
                    <a href="https://t.me/Welkin_Cases/134?single" class="card-title">Уникальные чехлы на заказ</a>
                  </h3>

                  <span class="price">45.000 сум</span>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <!-- 
        - #FEATURE
      -->

      <section class="section feature" aria-label="feature-label">
        <div class="container">

          <h2 class="h2 section-title title text-center" id="feature-label">Все товары</h2>

          <ul class="feature-list">

            {% for i in home_order %}
            {% if forloop.counter0 < 7 %}
            <li>
              <div class="product-card text-center">

                <div class="card-banner">

                  <figure class="product-banner img-holder" style="--width: 448; --height: 470;">
                    <img src="{{ i.image.url }}" width="448" height="470" loading="lazy"
                      alt="Acne Baseball Cap" class="img-cover">
                  </figure>

                  <a href="{{ i.link }}" class="btn product-btn">
                    <ion-icon name="cash-outline"></ion-icon>

                    <span class="span">Полный обзор</span>
                  </a>

                </div>

                <div class="card-content">
                  <h3 class="h3 title">
                    <a href="{{ i.link }}" class="card-title">{{ i.title }}</a>
                  </h3>

                  <span class="price">{{ i.price }} {{ i.price_type }}</span>
                </div>

              </div>
            </li>
            {% endif %}
            {% endfor %}

          </ul>

          <a href="{% url 'all-products' %}" class="btn btn-secondary">Все товары</a>

        </div>
      </section>

      <!-- 
        - #OFFER
      -->

      <section class="offer has-bg-image" style="background-image: url('{% static '/assets/images/offer-bg.png' %}')">
        <div class="container">

          <div class="offer-card">

            <h2 class="title card-title">35% дешевый</h2>

            <p class="card-text">
                <b>Дешевые и доступные цены без карго.</b> Сделать китайские продукты жесткими !
            </p>

            <a href="https://t.me/Welkin_Cases" class="btn btn-secondary">
              <span class="span">Переход</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>

          </div> 

    </article>
  </main>


  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <div class="footer-brand">

          <a href="/index.html" class="logo">
            <img src="{% static './assets/images/sa.png' %}" width="70" height="50" loading="lazy" alt="shoppie home">
          </a>

          <p class="footer-text">
            Все товары идут через Китай.<br>
            Без карго !
          </p>

          <ul class="social-list">

            <li>
              <a href="https://t.me/Welkin_Cases" class="social-link">
                <ion-icon name="rocket-outline"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://www.instagram.com/welkin_cases/" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title title">Связь</p>

            <address class="footer-text">
              Uzbekistan, Tashkent
            </address>
          </li>

          <li>
            <a class="email">wbusinesteam@gmail.com</a>
          </li>

          <li>
            <a href="tel:+998 94 620-43-34" class="call">+998 94 620-43-34</a>
            <a href="tel:+998 94 315-13-37" class="call">+998 94 315-13-37</a>
            <a href="tel:+998 33 007-12-31" class="call">+998 33 007-12-31</a>
          </li>

        </ul>

            <div class="footer-list">
              <p class="footer-list-title title">Спросите желаемый товар</p>
              <p class="footer-text">Спрашивайте товар нужного вам фасона и оставляйте свой номер телефона, о наличии придет смс </p><br>

              <input type="text" name="Введите нужный вам продукт" placeholder="Введите нужный вам продукт" required autocomplete="off"
                class="input-field">

                <input type="number" name="+998 (xx) xxx xx xx" placeholder="+998 (xx) xxx xx xx" required autocomplete="off"
                class="input-field">

              <a href="https://t.me/Welkin_Cases"><button class="btn btn-secondary" >Отправлять</button></a>

            </div>
      </div>

      <div class="footer-bottom">

        <div class="wrapper">
          <div class="link-wrapper">

            <a href="{% url 'home' %}" class="navbar-link">Основной</a>
            <a href="{% url 'all-products' %}" class="navbar-link">Продукты</a>
            <a href="{% url 'zakaz' %}" class="navbar-link">Разместить заказ</a>


          </div>

          <div class="link-wrapper">
            <a href="https://t.me/Welkin_Cases" class="footer-bottom-link">Посмотреть продукты</a>
          </div>
        </div>

        <p class="copyright">
          &copy; 2023 Разработано W-Team!
        </p>

      </div>

      <img src="{% static './assets/images/footer-shape-1.png' %}" width="245" height="165" loading="lazy" alt="shape"
        class="shape shape-1">

      <img src="{% static './assets/images/footer-shape-2.png' %}" width="138" height="316" loading="lazy" alt="shape"
        class="shape shape-2">

      <img src="{% static './assets/images/footer-shape-3.png' %}" width="346" height="92" loading="lazy" alt="shape"
        class="shape shape-3">

    </div>
  </footer>
{% endblock %}
